<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Swappigans</title>

    <!-- Bootstrap -->
    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
    <script src="vendor/angular/angular.js"></script>
    <script src="js/makelist.js"></script>

  </head>
  <body ng-app="Swappigans" ng-controller="MakeList">

   

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="makelist.html">Make A List</a></li>
            
            
          </ul>
        </nav>
        <h3 class="text-muted">Swappigans</h3>
      </div>


      <div class="row">
        <div class="col-lg-6">
          
    
    <div>
        How many people in your list? <input ng-model="listCount"></input><button ng-click="adjustListLength()">Update</button>
    </div>
    
    <table class="namelist">
        <tr><th>Name</th><th>Email</th><th>Can't Give To</th></tr>
        <tr ng-repeat="row in rows">
            <td><div contenteditable ng-model="row.name"></div></td>
            <td><div contenteditable ng-model="row.email"></div></td>
            <td>
                <select ng-model="row.exclude" class="nogiftselect">
                    <option value="">(Can give to anyone!)</option>
                    <option ng-repeat="ex in rows" value="{{ex.email}}" ng-disabled="ex.email == row.email">{{ex.name}}</option>
                </select>
            </td>
            <td><button ng-click="removeRow($index)">Remove</button></td>
        </tr>
        
       
    </table>
    <button ng-click="addRow()">Add Person</button>
  
  <br><br><br>




        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2015 Swappigans </p>
      </footer>

    </div><!-- /.container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>